.scrollup {
    position: fixed;
    right: 1.7rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.4rem;
    border-radius: 0.4rem;
    z-index: var(--z-index);
    transition: 0.4s ease;
}

.scrollup_icon {
    font-size: 1.5rem;
    color: var(--container-color);
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

/* Show scroll up button when scrolled down */
.show-scroll {
    bottom: 5rem;
    opacity: 1;
    transition: bottom 0.3s, opacity 0.3s ease-in-out;
}