.project {
  text-align: center;
}

.project_flowing-menu {
  width: 100vw;
  height: 560px;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  box-shadow: none;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .project_flowing-menu {
    width: 100vw;
    height: 480px;
  }
}

@media screen and (max-width: 480px) {
  .project_flowing-menu {
    height: 420px;
  }
}
