/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full-screen animation container */
.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: red;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Initial full-screen cover */
.fs {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

/* Elements that will animate upwards */
.elem,
.white {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
}

.elem {
    background-color: #4f9e8e;
}

.white {
    background-color: #dadada;
}

/* Text styling */
.text {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    opacity: 0;
    transform: scale(0.5);
}

.text span {
    color: #4f9e8e;
}