.about_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about_img {
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about_info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about_box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}

.about_icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about_title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.about_subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-dark);
}

.about_description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
}

/* BREAKPOINTS */
/* For large devices */
@media screen and (max-width: 992px) {
  .about_container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about_img {
    width: 220px;
  }

  .about_box {
    padding: 0.75rem 0.5rem;
  }

  .about_data {
    text-align: center;
  }

  .about_info {
    justify-content: center;
  }

  .about_description {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .about_info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about_description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .about_info {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* quick resume button*/
.button--ghost {
  border: 1px solid rgba(128, 128, 128, 0.437);
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 0.75rem 1.8rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}
.button--ghost:hover {
  color: var(--title-color);
}
