.contact_container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact_title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.contact_info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact_card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.contact_card:hover {
    transform: translateY(-5px);
}

.contact_card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact_card-title,
.contact_card-data {
    font-size: var(--small-font-size);
}

.contact_card-title {
    font-weight: var(--font-medium);
}

.contact_card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact_button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    transition: color 0.3s ease-in-out;
}

.contact_button-icon {
    font-size: 1rem;
    transition: transform 0.3s;
}

.contact_button:hover .contact_button-icon {
    transform: translateX(0.25rem);
}

/* Contact Form */
.contact_form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}

.contact_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact_form-input:focus {
    border-color: #000;
    box-shadow: 0 0 8px rgba(108, 119, 126, 0.6);
    transform: scale(1.02);
}


.contact_form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact_form-area {
    height: 11rem;
}

.contact_form-area textarea {
    resize: none;
}

.contact_form button {
    border-radius: 50px;
    padding: 1rem 2rem;
    background-color: #000;
}

/* Responsive Design */
@media screen and (max-width: 992px) {
    .contact_container {
        column-gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .contact_container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact_info {
        justify-content: center;
    }

    .contact_form {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .contact_info {
        grid-template-columns: 1fr;
    }

    .contact_form {
        width: 100%;
    }
}