.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height + 1.5rem));
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: vaR(--h2-font-size);
    font-family: "Urbanist", serif;
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    position: relative;
}

.nav_icon,
.nav_close,
.nav_toggle {
    display: none;
}

.active-link,
.nav_link:hover {
    color: var(--title-color-dark);
}

.nav_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--title-color-dark);
    transition: width 0.3s ease-in-out;
}

@media screen and (min-width: 769px) {

    .active-link::after,
    .nav_link:hover::after {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .show-menu {
        bottom: 0;
    }

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        right: 2.4rem;
        bottom: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav_close:hover {
        color: var(--title-color);
    }

    .nav_toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .nav_menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav_list {
        column-gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .theme_btn {
        position: absolute;
        top: -40rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 10;
    }

    [data-theme="dark"] .header,
    .nav_menu {
        box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.15);
    }

    [data-theme="light"] .nav_menu {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    }

}


:root {
    --body-color: #f5f5f5;
    --title-color: #222831;
    --title-color-dark: #000;
    --text-color: #3a414b;
    --container-color: #ffffff;
}

/* Dark Mode */
[data-theme="dark"] {
    --body-color: #181818;
    --title-color: #e0e0e0;
    --title-color-dark: #b68d05;
    --text-color: #b0b0b0;
    --container-color: #252525;
}

.header {
    background-color: var(--body-color);
    color: var(--title-color);
    transition: background 0.3s ease, color 0.3s ease;
}

.theme_toggle {
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--container-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease;
}

.theme_toggle:hover {
    transform: scale(1.1);
}

.theme-icon {
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

[data-theme="dark"] .home_img,
[data-theme="dark"] .about_img {
    filter: grayscale(70%);
}


/* Navigation */
.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav_link {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
    position: relative;
}

.nav_link:hover {
    color: var(--title-color-dark);
}

.active-link {
    color: var(--title-color-dark);
}

/* Buttons */
.button {
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    transition: background 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--title-color);
}